@font-face {
   font-family: 'futura medium bt';
   font-display: swap;
   src: url('futura medium bt/font.ttf');
}
@font-face {
   font-family: 'Futura Book font';
   font-display: swap;
   src: url('Futura Book font/font.ttf');
}
