@font-face {
   font-family: 'futura medium bt';
   font-display: swap;
   src: url('file:///C:/Users/J-PC/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-11-26_102242/fonts/futura%20medium%20bt/font.ttf');
}
