@font-face {
   font-family: 'Futura Book font';
   font-display: swap;
   src: url('file:///C:/Users/J-PC/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-11-26_102242/fonts/Futura%20Book%20font/font.ttf');
}
